extends layout

block content
  div.container.justify-content-center.text-center.mt-5
    h1.text-center.font-weight-bold AACR - Feedback Page
    hr
    br
    img.m-2(src="/images/honeyPot.png", width=300, height=300)
    h1.text-center= message
    br
    br
    a.btn.btn-success.fs-5.px-5(href="/") Go Back To Home
